---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/sections/Hero.vue";
import About from "../components/sections/About.vue";
import Work from "../components/sections/Work.vue";
---

<BaseLayout>
  <main>
    <Hero client:load />
    <About client:load />
    <Work client:load />
  </main>
</BaseLayout>
